.recorderScreen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  :global {
    .selectMedia {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 50px;
      z-index: 100;
    }
    .cropArea {
      position: absolute;
      z-index: 10;
      outline: 2px solid #ccc;
      #innerCropArea {
        height: 100%;
        width: 100%;
      }
      .react-resizable-handle {
        background-image: none;
      }
    }
    .screenRecorder {
      position: absolute;
      z-index: 100;
      outline: 2px solid #ccc;
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: space-around;
      .info {
        width: 160px;
        text-align: center;
        .tool {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
      .toolbarIcon {
        font-size: 26px;
        height: 35px;
        display: flex;
        width: 30px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .icon {
          display: flex;
          align-items: center;
        }
      }
      .toolbarIcon:hover {
        background-color: #ccc;
      }
      .recordBtn {
        font-size: 32px;
        height: 35px;
        display: flex;
        width: 30px;
        align-items: center;
        justify-content: center;
      }
      .settingBtn {
        line-height: 15px;
      }
      .shotScreenBtn {
        line-height: 15px;
      }
      .drgan {
        flex: auto;
      }
      .playBtn {
        color: #1677ff;
        font-size: 40px;
        width: 45px;
      }
      .stopBtn {
        width: 45px;
        color: red;
      }
      .pauseBtn {
        color: #000;
      }
      .toggleMuteBtn {
        color: #000;
      }
      .singleDigit {
        background: transparent;
      }
      .playRecorder {
        width: 45px;
        text-align: center;
      }
    }
    .iframeRef {
      position: absolute;
      left: 0;
      top: 0;
    }
    .videoRef {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .control {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
