.recorderScreen {
	height: calc(100vh - 2px);
	width: 100vw;
	overflow: hidden;
	border: 1px solid #f0f0f0;
	:global {
		.header {
			height: 32px;
			width: 100%;
			display: flex;
			background-color: #fff;
			.left {
				width: 100px;
				height: 100%;
				line-height: 32px;
				text-align: left;
				.logo {
					width: 24px;
					margin-left: 5px;
					vertical-align: text-top;
				}
			}
			.drgan {
				flex: auto;
				-webkit-app-region: drag;
			}
			.right {
				width: 100px;
			}
			.icon-s {
				font-size: 20px;
				color: #ccc;
				padding-left: 10px;
			}
			.left span {
				display: inline-block;
				height: 32px;
				line-height: 32px;
				font-size: 18px;
				color: #ccc;
				padding-left: 10px;
			}
			.right .icon-s {
				font-size: 20px;
				padding-top: 8px;
			}
		}
		.container {
			width: calc(100% - 10px);
			height: calc(100% - 66px);
			border-left: 5px solid #ffffff;
			border-right: 5px solid #ffffff;
			display: flex;
			// .recorderLeft {
			// 	height: 100%;
			// 	width: 5px;
			// 	background: #fff;
			// }
			.recorderScreen {
				height: 100%;
				background-color: rgba(0, 0, 0, 0);
				border: 1px solid #f0f0f0;
				flex-grow: 1;
			}
			// .recorderRight {
			// 	height: 100%;
			// 	width: 5px;
			// 	background: #fff;
			// }
		}
		.footer {
			width: calc(100vw);
			background: #fff;
			height: 34px;
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			overflow: hidden;
			.singleDigit {
				font-size: 20px;
				background-color: transparent;
			}
			.separtorContainer {
				margin: 0 0 8px;
				.separtor {
					width: 4px;
					height: 4px;
				}
			}
			.recorderTools {
				display: flex;
				.toolbarIcon {
					line-height: 30px;
					font-size: 30px;
					color: #1677ff;
					width: 30px;
					height: 30px;
					margin-right: 10px;
					padding: 0;
				}
				.stopBtn {
					color: red;
				}
				.toggleMuteBtn {
					font-size: 20px;
				}
				.muted {
					color: rgba(0, 0, 0, 0.88);
				}
			}
		}
		.winBar {
			font-size: 22px;
			border-left: 5px solid #f0f0f0;
			height: 35px;
			.toolbarIcon {
				-webkit-app-region: no-drag;
				height: 35px;
			}
		}
	}
}
