.recordAudio {
	overflow: hidden;
	position: relative;
	border-radius: 8px;
	:global {
		#mic {
			border: 1px solid #ddd;
			border-radius: 4px;
			margin-top: 1rem;
		}
		#recordings {
			margin: 1rem 0;
		}
		.tools {
			line-height: 34px;
		}
		.singleDigit {
			font-size: 26px;
		}
		.separtorContainer {
			margin: 0 0 7px 0px;
			.separtor {
				width: 3px;
				height: 3px;
			}
		}
	}
}
.web {
	width: calc(100% - 30px);
	margin: 15px auto;
	max-width: 1000px;
}
.electron {
	width: 100vw;
	height: 100vh;
	margin: 0;
	box-shadow: unset;
}
