shamefully-hoist=true

# 在国内使用pnpm安装electron需要配置一下electron的下载路径
registry="https://registry.npmmirror.com/"
electron_mirror="https://registry.npmmirror.com/-/binary/electron/"
electron_builder_binaries_mirror="https://registry.npmmirror.com/-/binary/electron-builder-binaries/"
