# 将pnpm变成扁平化架构
# node-linker=hoisted

shamefully-hoist=true

# 在国内使用pnpm安装electron需要配置一下electron的下载路径
registry="https://registry.npm.taobao.org/"
electron_mirror="https://npm.taobao.org/mirrors/electron/"
electron_builder_binaries_mirror="http://npm.taobao.org/mirrors/electron-builder-binaries/"

# better_sqlite3
better_sqlite3_binary_host="https://registry.npmmirror.com/-/binary/better-sqlite3"
better_sqlite3_binary_host_mirror="https://registry.npmmirror.com/-/binary/better-sqlite3"
better-sqlite3_binary_host="https://registry.npmmirror.com/-/binary/better-sqlite3"
better-sqlite3_binary_host_mirror="https://registry.npmmirror.com/-/binary/better-sqlite3"

# FFMPEG
FFMPEG_BINARIES_URL="https://registry.npmmirror.com/-/binary/ffmpeg-static"
