body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hide {
  display: none !important;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.no-drag {
  -webkit-app-region: no-drag;
}
.drag {
  -webkit-app-region: drag;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate1 {
  0% {
    background-position-x:
      -200%,
      -100%,
      0%,
      100%;
  }
  100% {
    background-position-x: 0%, 100%, 200%, 300%;
  }
}

@keyframes rotate2 {
  0% {
    background-position-x: 0%, 100%, 200%, 300%;
  }
  100% {
    background-position-x:
      -200%,
      -100%,
      0%,
      100%;
  }
}

.blink {
  color: red !important;
  animation: blink 1s linear infinite;
}

.disabled {
  opacity: 0.5;
  // pointer-events: none !important;
  cursor: not-allowed !important;
}

#root {
  display: flex;
  justify-content: center;
}
