body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
}
body,
button,
input,
select,
textarea {
	font: 12px/1.5tahoma, arial, \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}
address,
cite,
dfn,
em,
var {
	font-style: normal;
}
code,
kbd,
pre,
samp {
	font-family: couriernew, courier, monospace;
}
small {
	font-size: 12px;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
legend {
	color: #000;
}
fieldset,
img {
	border: 0;
}
button,
input,
select,
textarea {
	font-size: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	50.01% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	50.01% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.blink {
	animation: blink 1s linear infinite;
}

body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	#root {
		display: flex;
		justify-content: center;
		.viewImgs {
			.viewer-toolbar {
				background-color: rgba(0, 0, 0, 0.1);
				height: 45px;
				ul {
					padding: 0;
					margin: 0 auto;
					li {
						background-color: transparent;
						width: 40px;
						height: 45px;
						line-height: 45px;
						font-size: 16px;
						border-radius: unset;
					}
					li::before {
						margin: 0 auto;
						margin-top: 15px;
					}
					li:focus {
						box-shadow: unset;
					}
					.viewer-large {
						margin: 0;
					}
					.viewer-download {
						background: transparent url(/imgs/svg/download.svg) no-repeat 0px
							0px;
						background-size: 20px;
						background-position: 8px 14px;
					}
					.viewer-print {
						background: transparent url(/imgs/svg/print.svg) no-repeat 0px 0px;
						background-size: 20px;
						background-position: 8px 14px;
					}
					.viewer-always-on-top-win {
						background: transparent url(/imgs/svg/pushpin.svg) no-repeat 0px 0px;
						background-size: 20px;
						background-position: 8px 14px;
					}
					.viewer-edit {
						background: transparent url(/imgs/svg/edit.svg) no-repeat 0px 0px;
						background-size: 20px;
						background-position: 8px 14px;
					}
					.viewer-file {
						background: transparent url(/imgs/svg/file.svg) no-repeat 0px 0px;
						background-size: 20px;
						background-position: 8px 14px;
					}
					.viewer-scan {
						background: transparent url(/imgs/svg/viewer-scan.svg) no-repeat 0px
							0px;
						background-size: 20px;
						background-position: 8px 14px;
					}
					.viewer-search {
						background: transparent url(/imgs/svg/viewer-search.svg) no-repeat
							0px 0px;
						background-size: 20px;
						background-position: 8px 14px;
					}
					.current {
						background-color: #1677ff;
					}
				}
			}
			.viewer-button.viewer-fullscreen {
				display: none;
			}
		}

		.aplayer .aplayer-list {
			max-height: unset !important;
			ol {
				max-height: unset !important;
			}
		}
	}
}
