.editGif {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #fff;
  :global {
    .gifConverter {
      width: 100%;
    }
    .tool {
      // display: flex;
      // width: 100%;
      height: 132px;
      padding: 0 10px;
      background-color: rgb(250 250 250);
      border-bottom: 1px solid #ccc;
      .ant-tabs .ant-tabs-tab {
        padding: 5px 0;
      }
      .ant-tabs-nav {
        margin: 0;
      }
    }
    .content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 220px);
      overflow: hidden;
      text-align: center;
      background-image: repeating-linear-gradient(transparent 0 8px, rgb(245 245 245) 0 16px),
        repeating-linear-gradient(90deg, transparent 0 8px, rgb(245 245 245) 0 16px);
      canvas {
        max-width: 1000px;
      }
      .info {
        position: absolute;
        bottom: 5px;
        left: 10px;
        color: #fff;
        font-size: 14px;
        text-align: left;
        text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
      }
    }
    .videoFrames {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      width: 100vw;
      height: 100px;
      overflow: auto;
      background-color: #fff;
      .videoFrame {
        position: relative;
        height: 100%;
        img {
          height: calc(100% - 16px);
          margin: 0 5px;
          padding: 5px;
          border: 1px solid #ccc;
        }
        .info {
          position: absolute;
          bottom: 0;
          z-index: 1;
          display: flex;
          justify-content: space-between;
          width: calc(100% - 30px);
          margin: 0 10px;
          color: #fff;
          font-size: 14px;
          text-align: center;
          text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black,
            -1px 1px 1px black;
        }
      }
      .current img {
        background-color: rgb(203 232 246);
      }
    }
  }
}
