.editGif {
  background: #fff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  :global {
    .gifConverter {
      width: 100%;
    }
    .tool {
      height: 100px;
      width: 100%;
      display: flex;
      background-color: rgb(250 250 250);
      border-bottom: 1px solid #ccc;
    }
    .content {
      text-align: center;
      background-image: repeating-linear-gradient(transparent 0 8px, rgb(245 245 245) 0 16px),
        repeating-linear-gradient(90deg, transparent 0 8px, rgb(245 245 245) 0 16px);
      height: calc(100vh - 220px);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      canvas {
        max-width: 1000px;
      }
      .info {
        text-align: left;
        position: absolute;
        bottom: 5px;
        left: 10px;
        color: #fff;
        text-shadow:
          1px 1px 1px black,
          -1px -1px 1px black,
          1px -1px 1px black,
          -1px 1px 1px black;
      }
    }
    .videoFrames {
      height: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      width: 100vw;
      overflow: auto;
      background-color: #fff;
      .videoFrame {
        height: 100%;
        position: relative;
        img {
          padding: 5px;
          margin: 0 5px;
          height: calc(100% - 16px);
          border: 1px solid #ccc;
        }
        .info {
          position: absolute;
          bottom: 0;
          z-index: 1;
          width: 100%;
          text-align: center;
          color: #fff;
          text-shadow:
            1px 1px 1px black,
            -1px -1px 1px black,
            1px -1px 1px black,
            -1px 1px 1px black;
        }
      }
      .current img {
        background-color: rgb(203 232 246);
      }
    }
  }
}
