.frame {
  width: 240px;
  border-right: 1px solid #ccc;
  :global {
    .frameList {
      display: flex;
      width: 100%;
      .frameBtn {
        width: 25%;
        height: 70px;
        padding-top: 10px;
        text-align: center;
        cursor: pointer;
        .frameBtnTitle {
          margin-top: 5px;
          color: #888;
          font-size: 14px;
        }
      }
      .frameBtn:hover {
        background-color: rgb(225 233 244);
      }
    }
    .subTitle {
      width: 100%;
      color: rgb(191 191 191);
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
}
