.history {
  flex: 0 0 auto;
  width: 180px;
  border-right: 1px solid #ccc;
  :global {
    .historyList {
      display: flex;
      width: 100%;
      .historyBtn {
        width: 33.3%;
        height: 70px;
        padding-top: 10px;
        text-align: center;
        cursor: pointer;
        .historyBtnTitle {
          margin-top: 5px;
          color: #000;
          font-size: 12px;
        }
      }
      .historyBtn:hover {
        background-color: rgb(225 233 244);
      }
      .disabled {
        cursor: not-allowed;
        pointer-events: none;
      }
    }
    .subTitle {
      width: 100%;
      color: rgb(191 191 191);
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
}
