.setting {
  flex: 0 0 auto;
  width: 240px;
  border-right: 1px solid #ccc;
  :global {
    .settingList {
      display: flex;
      width: 100%;
      .settingBtn {
        width: 25%;
        height: 70px;
        padding-top: 10px;
        text-align: center;
        cursor: pointer;
        .settingDurationInput {
          width: 90%;
          margin-left: 5px;
          padding: 0 2px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .settingBtnTitle {
          margin-top: 5px;
          color: #000;
          font-size: 12px;
        }
      }
      .settingBtn:hover {
        background-color: rgb(225 233 244);
      }
      .durationBtn {
        width: 50%;
        .durationTool {
          display: flex;
          .durationIcon {
            margin-right: 3px;
            vertical-align: bottom;
          }
        }
      }
    }
    .subTitle {
      width: 100%;
      color: rgb(191 191 191);
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
}
