.splice {
  width: 120px;
  border-right: 1px solid #ccc;
  :global {
    .spliceList {
      display: flex;
      width: 100%;
      .spliceBtn {
        width: 50%;
        height: 70px;
        padding-top: 10px;
        text-align: center;
        cursor: pointer;
        .spliceDurationInput {
          width: 90%;
          margin-left: 5px;
          padding: 0 2px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .spliceBtnTitle {
          margin-top: 5px;
          color: #888;
          font-size: 14px;
        }
      }
      .spliceBtn:hover {
        background-color: rgb(225 233 244);
      }
    }
    .subTitle {
      width: 100%;
      color: rgb(191 191 191);
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
}
