.pinImage {
  width: 100%;
  height: calc(100vh - 2px);
  overflow: hidden;
  border: 1px dashed rgba(250, 250, 250, 0.1);
  -webkit-app-region: drag;
  :global {
    .header {
      opacity: 0;
    }
    .header:hover {
      opacity: 1;
    }
    .img {
      width: 100vw;
      height: 100vh;
      transform-origin: center center;
    }
  }
}
