.home {
  overflow: hidden;
  border-radius: 8px;
  // position: relative;
  :global {
    .wavesurfe {
      position: absolute;
      top: 55px;
      left: 0;
      align-items: center;
      background-color: rgb(118, 218, 255);
      overflow: hidden;
      height: calc(100% - 55px);
      width: 100%;
      &:before:local,
      &:after:local {
        content: '';
        position: absolute;
        left: 50%;
        min-width: 300vw;
        min-height: 300vw;
        background-color: #fff;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      &:before {
        bottom: 15vh;
        border-radius: 45%;
        animation-duration: 10s;
      }
      &:after {
        bottom: 12vh;
        opacity: 0.5;
        border-radius: 47%;
        animation-duration: 10s;
      }
    }
    .container {
      position: relative;
      overflow: hidden;
      padding: 10px;
      height: calc(100% - 55px);
      .cardRow {
        margin-bottom: 10px;
        text-align: center;
      }
    }
    .extra {
      position: absolute;
      right: 15px;
      top: 10px;
      color: #1677ff;
    }
    .cardContent {
      text-align: center;
      font-size: 30px;
      color: #1677ff;
      cursor: pointer;
      .cardIcon {
        font-size: 30px;
        color: #1677ff;
      }
      .cardToggle {
        font-size: 16px;
      }
      .cardToggle:hover {
        color: #1677ff;
      }
      .cardTitle {
        font-size: 16px;
        font-weight: 600;
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .fileRef {
      display: none;
    }
    .directoryRef {
      display: none;
    }
    .homeFooter {
      background-color: rgba(204, 201, 201, 0.2);
      height: 35px;
      width: 100%;
      padding-left: 8px;
      padding-top: 2px;
      .icon {
        font-size: 18px;
        line-height: 18px;
        color: #1677ff;
        margin-right: 8px;
      }
    }
  }
}

.web {
  width: 660px;
  height: 335px;
  margin-top: 30px;
  box-shadow:
    rgb(190, 200, 228) 3px 3px 6px 0px,
    rgb(255, 255, 255) -3px -3px 6px 0px;
}

.electron {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-shadow: unset;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}
