.home {
  overflow: hidden;
  :global {
    .container {
      position: relative;
      overflow: hidden;
      padding: 0 10px 0px 10px;
      height: calc(100% - 40px);
      .wavesurfer1 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 140px;
        --c: rgb(118, 218, 255);
        --w1: radial-gradient(100% 57% at top, #0000 100%, var(--c) 100.5%) no-repeat;
        --w2: radial-gradient(100% 57% at bottom, var(--c) 100%, #0000 100.5%) no-repeat;
        background: var(--w1), var(--w2), var(--w1), var(--w2);
        background-position-x:
          -200%,
          -100%,
          0%,
          100%;
        background-position-y: 100%;
        background-size: 50.5% 100%;
        animation-name: rotate1;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 2s;
        z-index: -1;
      }
      .wavesurfer2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 140px;
        --c: rgb(118, 218, 255);
        --w1: radial-gradient(100% 57% at top, #0000 100%, var(--c) 100.5%) no-repeat;
        --w2: radial-gradient(100% 57% at bottom, var(--c) 100%, #0000 100.5%) no-repeat;
        background: var(--w1), var(--w2), var(--w1), var(--w2);
        opacity: 0.5;
        background-position-x:
          -200%,
          -100%,
          0%,
          100%;
        background-position-y: 100%;
        background-size: 50.5% 100%;
        animation-name: rotate2;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 2.5s;
        z-index: -2;
      }
      .nav {
        width: calc(100% - 20px);
        padding: 0 0 10px;
        position: absolute;
        top: 0;
        margin-top: 4px;
        .anchor {
          margin-block-start: 0px;
          padding-block-start: 0px;
          height: 30px;
        }
      }
      .content {
        position: absolute;
        top: 40px;
        height: calc(100% - 50px);
        overflow-x: hidden;
        overflow-y: scroll;
      }
    }
    .extra {
      position: absolute;
      right: -5px;
      top: -5px;
      color: #1677ff;
      font-size: 13px;
      z-index: 1;
    }
    .cardContent {
      text-align: center;
      font-size: 30px;
      color: #1677ff;
      cursor: pointer;
      position: relative;
      height: 80px;
      .cardIcon {
        font-size: 30px;
        color: #1677ff;
      }
      .cardToggle {
        font-size: 16px;
      }
      .cardToggle:hover {
        color: #1677ff;
      }
      .cardTitle {
        font-size: 16px;
        font-weight: 600;
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .fileRef {
      display: none;
    }
    .directoryRef {
      display: none;
    }
    .homeFooter {
      background-color: #2e2e2e;
      height: 40px;
      width: 100%;
      padding-left: 8px;
      padding-top: 2px;
      display: flex;
      align-items: center;
      .icon {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 20px;
        color: #fff;
        margin-right: 13px;
        cursor: pointer;
      }
    }
  }
}

.web {
  width: 660px;
  height: 390px;
  margin-top: 30px;
  box-shadow:
    rgb(190, 200, 228) 3px 3px 6px 0px,
    rgb(255, 255, 255) -3px -3px 6px 0px;
}

.electron {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-shadow: unset;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
  border-radius: 4px;
}

::-webkit-scrollbar:hover {
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
