.home {
  overflow: hidden;
  border-radius: 8px;
  :global {
    .container {
      overflow: hidden;
      padding: 10px;
      height: calc(100% - 55px);
      .cardRow {
        margin-bottom: 10px;
        text-align: center;
      }
    }
    .cardContent {
      text-align: center;
      font-size: 30px;
      color: #1677ff;
      cursor: pointer;
      .cardIcon {
        font-size: 30px;
        color: #1677ff;
      }
      .cardToggle {
        font-size: 16px;
      }
      .cardToggle:hover {
        color: #1677ff;
      }
      .cardTitle {
        font-size: 16px;
        font-weight: 600;
        color: #000;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .fileRef {
      display: none;
    }
    .directoryRef {
      display: none;
    }
    .homeFooter {
      background-color: rgba(204, 201, 201, 0.2);
      height: 35px;
      width: 100%;
      padding-left: 8px;
      padding-top: 2px;
      .icon {
        font-size: 18px;
        line-height: 18px;
        color: #1677ff;
        margin-right: 8px;
      }
    }
  }
}

.web {
  width: 660px;
  height: 335px;
  margin-top: 30px;
  box-shadow: rgb(190, 200, 228) 3px 3px 6px 0px, rgb(255, 255, 255) -3px -3px 6px 0px;
}

.electron {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-shadow: unset;
}
