.viewImage {
	.viewImageUpload {
		width: 98vw;
		height: 98vh;
		margin-top: 1vh;
		display: inline-block;
	}

	.viewImageHeader {
		background-color: white;
		height: 32px;
		z-index: 100;
		position: absolute;
		width: 100%;
		display: flex;
		flex-direction: row;
	}
}

.viewImageBox {
	.rc-image-preview-mask {
		background-color: transparent;
	}
	.rc-image-preview-operations {
		flex-direction: row;
		background-color: rgba(240, 240, 240, 0.7);
		justify-content: center;
		.rc-image-preview-operations-operation {
			padding: 5px;
			margin: 0 7px;
			color: #000;
		}
	}
}

@media print {
	.viewImageBox.rc-image-preview-operations-wrapper {
		display: none;
	}
}
