.recorderVideo {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	.recorderVideoDom {
		width: 100%;
		height: 100%;
	}
	.recorderTools {
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 50px;
		.toolbarIcon {
			border-radius: 50%;
			border: 1px solid #f0f0f0;
			width: 45px;
			height: 45px;
			margin: 5px;
			font-size: 24px;
			line-height: 38px;
		}
	}
}
