.home {
	.container {
		overflow: hidden;
		padding: 10px;
		height: 330px;
		.cardRow {
			margin-bottom: 10px;
			text-align: center;
		}
	}
	.cardContent {
		text-align: center;
		.ant-btn {
			font-size: 30px;
		}
	}
}
