.videoConverter {
  position: relative;
  width: calc(100% - 30px);
  max-width: 1000px;
  margin: 15px auto;
  :global {
    .img {
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform-origin: center center;
    }
  }
}
