.shotScreen {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  :global {
    .btns {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 50px;
      cursor: pointer;
      z-index: 100;
      .inputRef {
        display: none;
      }
    }
  }
}
