.setting {
	padding: 10px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 8px;
	width: 540px;
	:global {
		.filePathInput {
			width: 300px;
			cursor: pointer;
		}
	}
}

// .web {
// width: 540px;
// height: 300px;
// margin-top: 30px;
// box-shadow: rgb(190, 200, 228) 3px 3px 6px 0px,
// 	rgb(255, 255, 255) -3px -3px 6px 0px;
// }
.electron {
	width: calc(100vw - 20px);
	height: calc(100vh - 20px);
	margin: 0 auto;
	box-shadow: unset;
}
