.converter {
  :global {
    .content {
      display: flex;
      width: 100%;
      .input {
        width: calc(50% - 10px);
        padding: 5px;
      }
      .img,
      .video {
        width: 100%;
      }
    }
    .slider {
      display: flex;
      align-items: center;
      .sliderInput {
        flex: 1;
      }
    }
    .setting {
      display: flex;
      overflow: hidden;
      .item {
        margin-right: 10px;
        margin-left: 10px;
        .title {
          margin-bottom: 5px;
        }
      }
      .frameSize {
        min-width: 160px;
      }
      .fps,
      .frameNum,
      .timeStart,
      .timeEnd {
        width: 120px;
        min-width: 120px;
      }
      .frameInfo {
        min-width: 160px;
      }
    }
    .footer {
      margin-top: 10px;
    }
  }
}
