@import "../var.scss";

.screenshots-button {
	width: $button-size;
	height: $button-size;
	line-height: $button-size;
	color: #333;
	font-size: 22px;
	text-align: center;
	margin: 0 3px;
	vertical-align: middle;
	cursor: pointer;

	&-checked,
	&:hover {
		background-color: #eee;
		outline: 1px solid #777;
	}

	&-disabled {
		color: #bbb;
		cursor: not-allowed;

		&:hover {
			background-color: #fff;
			outline: none;
		}
	}
}
