.recordAudio {
	-webkit-app-region: drag;
	padding: 3px 0 3px 3px;
	background-color: #ffffff;
	border-radius: 5px;
	display: flex;
	.recorderTools {
		height: 35px;
		border-right: 5px solid #f0f0f0;
		margin-right: 4px;
		align-items: center;
		display: flex;
		.toolbarIcon {
			-webkit-app-region: no-drag;
			line-height: 30px;
			font-size: 30px;
			color: #1677ff;
			width: 30px;
			height: 35px;
			padding-top: 2px;
		}
		.stopBtn {
			color: red;
		}
		.toggleMuteBtn {
			font-size: 20px;
		}
		.muted {
			color: rgba(0, 0, 0, 0.88);
		}
	}
	.winBar {
		font-size: 22px;
		border-left: 5px solid #f0f0f0;
		height: 35px;
		.toolbarIcon {
			-webkit-app-region: no-drag;
			height: 35px;
		}
	}
}
