.recordAudio {
	-webkit-app-region: drag;
	padding: 3px 0 3px 3px;
	background-color: #ffffff;
	border-radius: 5px;
	display: flex;
	.stopwatch {
		display: flex;
		text-align: center;
		align-items: center;
		height: 35px;
		.stopwatchTools {
			height: 35px;
			.icon {
				-webkit-app-region: no-drag;
				cursor: pointer;
				font-size: 30px;
				color: #1677ff;
				margin-top: 3px;
				width: 30px;
			}
			.stopBtn {
				color: red;
			}
			.icon:hover {
				background-color: rgba(0, 0, 0, 0.06);
			}
		}
		.toggleTimer {
			background-color: #f0f0f0;
			color: #fff;
			width: 5px;
			height: 100%;
			line-height: 35px;
			font-size: 11px;
			margin-right: 5px;
		}
	}
	.winBar {
		font-size: 22px;
		border-left: 5px solid #f0f0f0;
		.ant-btn {
			-webkit-app-region: no-drag;
		}
	}
}
