.recordAudio {
	-webkit-app-region: drag;
	padding: 3px 0 3px 3px;
	background-color: #ffffff;
	border-radius: 5px;
	.stopwatch {
		display: flex;
		text-align: center;
		height: 60px;
		.stopwatchTools {
			margin-right: 10px;
			// margin-left: 10px;
			height: 60px;
			// background-color: #404549;
			border: 1px solid #f0f0f0;
			// box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%), 0 1px 6px -1px rgb(0 0 0 / 2%),
			// 	0 2px 4px 0 rgb(0 0 0 / 2%);
			border-radius: 5px;
			.icon {
				-webkit-app-region: no-drag;
				cursor: pointer;
				font-size: 35px;
				border-right: 1px solid #f0f0f0;
				// color: white;
				color: #1677ff;
				margin-top: 13px;
				width: 42px;
			}
			.icon:last-child {
				border-right: 0px;
			}
		}
	}
}
