.home {
	margin: auto;
	max-width: 660px;
	max-height: 375px;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
		0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
	.container {
		overflow: hidden;
		padding: 10px;
		height: 330px;
		.cardRow {
			margin-bottom: 10px;
			text-align: center;
		}
	}
	.cardContent {
		text-align: center;
		color: #1677ff;
		font-size: 30px;
	}
}
