.container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 130px);
  :global {
    .tui-image-editor-container {
      min-height: calc(100vh - 130px);
    }
    .upload {
      position: absolute;
      top: 10px;
      left: 50px;
    }
    .save {
      position: absolute;
      top: 10px;
      right: 50px;
    }
  }
}
