.header {
	height: 32px;
	width: 100%;
	background-color: rgba(204, 201, 201, 0.2);
	display: flex;
	:global {
		.left {
			width: 100px;
			height: 100%;
			line-height: 32px;
			text-align: left;
			.logo {
				width: 24px;
				margin-left: 5px;
				vertical-align: text-top;
			}
		}
		.drgan {
			flex: auto;
			-webkit-app-region: drag;
		}
		.right {
			width: 100px;
		}
		.icon-s {
			font-size: 20px;
			color: #ccc;
			padding-left: 10px;
		}
		.left span {
			display: inline-block;
			height: 32px;
			line-height: 32px;
			font-size: 18px;
			color: #ccc;
			padding-left: 10px;
		}
		.right .icon-s {
			font-size: 20px;
			padding-top: 8px;
		}
	}
}
